<div id="jumbo" class="jumbotron jumbotron-fluid bg-warning">
  <div class="container">
    <h1 class="display-4 text-center "> <i class="fas fa-hamburger"></i> Build-a-Burger <i class="fas fa-hamburger"></i></h1>
    <p class="lead">Need help keeping track of burgers that you have already eaten or would like to eat, then give this a try... sorry we forgot the fries .</p>
  </div>
</div>


<div class="card bg-success">
  <div class="card-header text-center">
    <i class="fas fa-hamburger"></i><h2> Burgers that I will like to TRY!!!</h2>
  </div>
  <div class="card-body text-center">
    <blockquote class="blockquote mb-0">
      <ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>
    </blockquote>
  </div>
</div>

<br>


<div class="card bg-danger">
  <div class="card-header text-center">
    <i class="fas fa-hamburger"></i><h2>Burgers that have been DEVOURED!</h2>
  </div>
  <div class="card-body text-center">
    <blockquote class="blockquote mb-0">
      <ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>
    </blockquote>
  </div>
</div>

<br>

<div class="card bg-success">
  <div class="card-header text-center">
<i class="fas fa-hamburger"></i><h2>Add a Burger</h2>
  </div>
  <div class="card-body text-center">
    <blockquote class="blockquote mb-0">
      <form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="name">
  </div>
    </blockquote>
  </div>
</div>

<br>

<div class="card bg-warning">
  <div class="card-header text-center">
<label for="devoured">What would you like to do?</label
  </div>
  <div class="card-body text-center">
    <blockquote class="blockquote mb-0">
     <div class="form-group">
    <input type="radio" name="devoured" value="1" checked> I will like to try!<br>
    <input type="radio" name="devoured" value="0"> Devoured
  </div>

  <button type="submit">Add Burger</button>
</form>
    </blockquote>
  </div>
</div>
