li {
  padding: 5px;
  margin: 5px;
  background: #ffffff8e;
  list-style-type:none;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: rgb(170, 170, 170);
}

.form-group {
  margin-bottom: 5px;
}

#jumbo {
  font-family: 'Orbitron', sans-serif;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  color: #ffffffca;
}